errors.txt
/aws-instance-01/.terraform
/aws-instance-02/.terraform
/aws-instance-03/.terraform
/aws-instance-04/.terraform
/aws-instance-05/.terraform
/aws-instance-06/.terraform
/aws-instance-nginx/.terraform
/.terraform
/.terraform/
